{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block content %}
    <h1>Modification du mot de passe.</h1>
    <a href="{{ path('account') }}"> Retourner sur mon compte</a>

    {% if notification %}
        <div class="alert alert-info">{{ notification}}</div>
    {% endif %}

    {{ form(form) }}

{% endblock %}
