{% extends 'base.html.twig' %}

{% block title %}Mon compte | du site E-commerce{% endblock %}

{% block content %}
    <h1>Bienvenue sur votre compte {{ app.user.firstname }}.</h1>

    <a href="{{ path('account_adress') }}"> Gestion des adresses adresse</a>
{% endblock %}
