.product-subtitle, .product-price{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.product-item h5{
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}
.product-item h5{

    margin-bottom: 100px;
}
.product-price{
    font-weight: bold;
}
.footer-custom{
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-top: 20px;
    background: #4c555a;
    color: white;
    width: 100%;
}
.block-login{
    max-width: 600px;
    margin: 0 auto;
}
.form-check{
    background: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}
.col-form-label{
    font-weight: bold;
}
.order-sumary{
    background: #f4f8ff;
    padding: 20px;
    margin-top: 27px;
}