{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    {#     ici on utilise form de twig pour appeler la var form du controler
#}
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
{{ form(form) }}
{% endblock %}
